##PYTHON VARIABLES

In [1]:
age = 23 

print(age)

23

##PYTHON DATA TYPES

In [2]:
# interger (int)

x = 5 
y = 7

In [3]:
# float (float)

height = 5.8

In [4]:
# string (str)
 
name = "seyi"
another = "gdgjs77"
y = "5" #not an interger

In [5]:
# boolean (bool)

is_student = True
is_married = False

###PRINT

In [6]:
x = 5

print(x)

5

In [7]:
weight = 6.9
print(weight)

6.9

In [10]:
print ('how are you')

how are you

In [11]:
print(True)

True

 DATA TYPE CHECKS

In [12]:
x = 10

print(type(x))

<class 'int'>

In [16]:
age = "20"

print(type(age))

"<class 'str'>"

In [17]:
is_married = True

print(type(is_married))

"<class 'bool'>"

In [18]:
price = 3.5

print(type(price))

"<class 'float'>"

 DATA TYPE CASTING

In [19]:
x = 5

In [20]:
# convert from interger to float
print(float(x))

'5.0'

In [21]:
y = 3.3

In [22]:
# convert from float to interger
print(int(y))

'3'

In [23]:
new = 3.7
print(int(new))

'3'

In [24]:
age = "20"
print(int(age))

'20'

In [25]:
print(type(age))

"<class 'str'>"

In [26]:
cleaned_age = int(age)
print(cleaned_age)

'20'

In [27]:
print(type(cleaned_age))

"<class 'int'>"

In [44]:
#assignment 1
#please convert "3.5" to an interger

bad_weight = "3.5"

print(float(bad_weight))

'3.5'

  STRING METHODS

In [31]:
name = "seyi"

In [32]:
#.upper
print(name.upper())

'SEYI'

In [33]:
country = "Nigeria"
print(country.lower())

'nigeria'

In [63]:
#Find out if m starts the name called mayowa exercise

#hey = "mayowa"

#print(hey.startswith(m))