In [3]:
age = 40

In [4]:
print(age)

40

In [2]:
math_operation = 1 + 3 * 4 / 2 - 2

In [5]:
print(math_operation)

5.0

In [6]:
interger_divison = 13 // 5
print(interger_divison)

2

In [7]:
remainder = 13 % 5
print(remainder)

3

In [16]:
x = 35
remainder_1 = x % 2
print(remainder_1)

1

In [12]:
a = 17.5
b = 5
x = a + b - 9
print(x)

13.5

In [13]:
friends = 9
near = 3
friends_away = friends - near
print(friends_away)

6

In [14]:
my_variable = 7
div = my_variable / 2
print(div)

3.5

In [15]:
row_number = 235
result = row_number % 2 #its % a remainder sign
print(result)

1

In [20]:
#string_with_quotes #string''

string_with_quotes = "Hello, it's me."

another_with_quotes = 'he said "you are amazing!"yesterday.'
print(string_with_quotes)

print(another_with_quotes)

Hello, it's me.
he said "you are amazing!"yesterday.

In [23]:
#multiline string 
multiline = """hello, world.

my name is seyi.Welcome to my program. 
"""
print(multiline)

hello, world.

my name is seyi.Welcome to my program.

In [26]:
age = 35
age_as_str = str(age)#you can also use "".
print("you are " + age_as_str)

#or "you  are + '35'

you are 35

In [27]:
#string formatting
age = 34
print(f"you are {age}")

you are 34

In [28]:
name = "Jose"
greeting = f"How are you, {name}?"
print(greeting)

How are you, Jose?

In [30]:
#PYTHON has another way of changing variables formatting 
name = "jose"
final_greeting = "How are you, {}?"
jose_greeting = final_greeting.format(name)
print(jose_greeting)

bob_greeting = final_greeting.format("Bob") #To change the conten
print(bob_greeting)

How are you, jose?
How are you, Bob?

In [35]:
name = "Rolf Smith"
street = "123 No Name Road"
postcode = "PY02 1CP"

address = f"""Name: {name}
street: {street}
Postcard: {postcode}
Country: United Kingdom"""

print(address)

Name: Rolf Smith
street: 123 No Name Road
Postcard: PY02 1CP
Country: United Kingdom

In [36]:
description = "{} is {} years old."
print(description.format("bob",30)) 
#also put it {age} as ("Bob", age=30)

bob is 30 years old.

In [5]:
x = 2 + 9
print(x)

11

In [2]:
age = int(input("Enter your age: "))
months = age * 12
print(f"you have lived for {months} months.")

Enter your age: 12
you have lived for 144 months.

In [3]:
user_input = input("please enter a number: ")
double = user_input * 2
print(f"Your number doubled is {double}.")

please enter a number: 3
Your number doubled is 33.

In [5]:
#boolean
my_number = 5
user_number = int(input("Enter a number: "))

matches = my_number == user_number
print(f"you got it right: {matches}.")

Enter a number: 5
you got it right: True.

In [ ]:
bool(0) #false
bool(13) #true
bool("") #false, empty string
bool('hello') #True
bool([]) #false ,empty list
bool([1,3,5])  #True

In [6]:
#and or
default_greeting = "there"
name = input("Enter your name: (Optional)")

user_name = name or default_greeting
print(f"Hello, {user_name}!")

Enter your name: (Optional)
Hello, there!

In [1]:
age = int(input("Enter your age: "))
side_job = True
print(age > 18 and age < 65 or side_job)

Enter your age: 16
True

In [2]:
#LIST[]
friends = ['Rolf',"BOB", "Anne"]
friends.append("Jen")
print(friends)

['Rolf', 'BOB', 'Anne', 'Jen']

In [9]:
friends = [["Rolf", 24], ["Bob", 30], ["anne", 28]]
friends.remove(["anne",28])
print(friends)

[['Rolf', 24], ['Bob', 30]]

In [11]:
#TUPLES()
friends = ("Rolf", "BOB", "Anne")
friends = friends + ("Jen",)
print(friends)

('Rolf', 'BOB', 'Anne', 'Jen')

In [12]:
#SET{}
art_friends = {"Rolf", "Anne"}
science_friends = {"Jen", "Charlie"}
art_friends.add("jen")
print(art_friends)

{'Rolf', 'jen', 'Anne'}

In [14]:
art_friends = {"Rolf", "Anne", "Jen"}
science_friends = {"Jen", "Charlie"}
art_but_not_science = art_friends.difference(science_friends)
science_but_not_art = science_friends.difference(art_friends)

print(art_friends)
print(science_friends)

not_in_both = art_friends.symmetric_difference(science_friends)
print(not_in_both)

{'Rolf', 'Jen', 'Anne'}
{'Jen', 'Charlie'}
{'Rolf', 'Anne', 'Charlie'}

In [1]:
x = 54 + 6
print(x)

60

In [3]:
p = 70 + 7
print(p)

77

In [4]:
x = 21 + 6
print(x)

27

In [2]:
p = 67 * 7
print(p)

469

Dictionary

In [4]:
Friends = (
    {"name": "rolf smith", "age": 24},
    {"name": "Adam Wool", "age": 30},
    {"name": "Anne Pun", "age": 27}

)
print(Friends[0]["name"])

rolf smith

In [5]:
friends = [("rolf", 24), ("Adam", 30), ("Anne", 27)]
friends_age = dict(friends)
print(friends_age)

{'rolf': 24, 'Adam': 30, 'Anne': 27}

In [4]:
my_friends = {
    "Jose": {"last_seen": 6},
    "Rolf": {"surname": "Smith"},
    "Anne": {6}
}
my_friends["Jose"]
my_friends["Jose"]["last_seen"]

6

In [1]:
players = [
    {
        "name": "Rolf",
        "numbers": (23, 34, 46, 87),
    },
    {
        "name": "John",
        "numbers": (45, 45 , 67)
    }  
]
print(players[0]["numbers"])
print(players[0]["numbers"][0])

(23, 34, 46, 87)
23

In [1]:
grades = [80, 75, 90, 101]
total = sum(grades)
length = len(grades)

average = total / length 
print(average)

86.5

In [2]:
friends = ["Folf", "Anne", "Charlie"]
comma_separated = ", ".join(friends)
print(f"My friends are {comma_separated}.")

My friends are Folf, Anne, Charlie.